.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: var(--text-black);
  padding: 3rem;
}
.about__box {
  display: flex;
  justify-content: center;
}
.about__box__img {
  max-width: 38rem;
  height: auto;
  object-fit: cover;
}
.about__description {
  display: flex;
  flex-direction: column;
}
.about__title, .pets__title, .donation__title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 1rem;
}
.about__text {
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}


/* Tablet media query */
@media screen and (min-width: 601px) {
  .about {
    flex-direction: row;
    align-items: center;
  }
  .about__box__img {
    max-width: 90rem;
    height: auto;
    margin: 1rem;
  }
}

/* Desktop media query */
@media screen and (min-width: 1024px) {
  .about {
    padding: 4rem 6rem;
  }
  .about__title, .pets__title, .donation__title {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 2rem;
  }
  .about__text {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }
}