.donation {
  display: flex;
  flex-direction: column-reverse;
  color: var(--text-black);
  width: 100%;
  height: auto;
  padding: 2rem 2rem 3rem;
}
.donation__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.donation__box__img {
  width: 30rem;
  max-height: 34rem;
  object-fit: cover;
}
.donatation__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}
.donation__button {
  font-family: "Lato", sans-serif;
  color: var(--text-black);
  font-size: 1.6rem;
  font-weight: 800;
  width: 20rem;
  background-color: var(--pet-orange);
  box-shadow: 0.2rem 0.2rem 0.4rem black;
  border-radius: 1rem;
  padding: 0.8rem;
  margin-top: 1rem;
}
.donation__button:hover {
  cursor: pointer;
  font-weight: bold;
  color: #F6F6F6;
}


/* Tablet media query */
@media screen and (min-width: 601px) {
  .donation {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .donation__box__img {
    width: 26rem;
    height: auto;
  }
}

/* Desktop media query */