.hero {
  display: flex;
  background: linear-gradient(130deg, rgba(64,49,43,1) 0%, rgba(65,50,43,1) 10%, rgba(27,26,31,1) 100%);
  width: 100%;
  min-height: 46rem;
  padding: 0 2rem;
}
.hero__cta {
  flex: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  color: var(--white);
}
.hero__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.2rem black;
  font-size: 2.6rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.hero__text {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.hero__button {
  align-self: center;
  font-family: "Lato", sans-serif;
  color: var(--text-black);
  font-size: 1.6rem;
  font-weight: 800;
  width: 16rem;
  height: auto;
  background-color: var(--pet-orange);
  box-shadow: 0.2rem 0.2rem 0.4rem black;
  border-radius: 1rem;
  padding: 0.8rem;
}
.hero__button:hover {
  cursor: pointer;
  font-weight: bold;
  color: var(--white);
}


/* Tablet media query */
@media screen and (min-width: 601px) {
  .hero__title {
    text-align: start;
  }
  .hero__box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .hero__box__img {
    max-width: 32rem;
    max-height: 40rem;
    object-fit: cover;
  }
}


/* Media query para desktop */
/*
@media screen and (min-width: 1024px)
