/* Import all css files */
@import url(navbar.css);
@import url(hero.css);
@import url(about.css);
@import url(pets.css);
@import url(donation.css);
@import url(footer.css);

/* Dew Palette */
:root {
  --dark-brown: #1D1B1F;
  --soft-brown: #41322B;
  --pet-orange: #F2CDB3;
  --soft-orange: #fcf5ef;
  --white: #F6F6F6;
  --text-black: #3E3E3E;
}
/* Text size in rem */
html {
  font-size: 62.5%;
}
